/* Reset default padding and margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

p {
    padding-bottom: 15px;
}

/* Static Header */
.header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* Layout: Container for sidebar and content */
.container {
    display: flex;
    height: calc(100vh - 70px); /* Subtract header height */
    margin-top: 70px; /* To push the container below the fixed header */
}

.sidebar {
    width: 25%;
    background-color: #2c3e50;
    color: white;
    height: calc(100vh - 70px); /* Subtract header height */
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 70px; /* Below the header */
    overflow-y: auto; /* Enable scrolling */
}

.sidebar h2 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 2px;
    color: #ecf0f1;
    border-bottom: 1px solid #34495e;
}

.sidebar a.partTop {
    font-weight: 600;
    padding-top: 0px; /* only difference with a.part is padding-top */
    padding-left: 20px;
    font-size: 19px;
    margin-bottom: 2px;
    color: #ecf0f1;
    border-bottom: 1px solid #34495e;
}

.sidebar a.part {
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 19px;
    margin-bottom: 2px;
    color: #ecf0f1;
    border-bottom: 1px solid #34495e;
}

.sidebar a.hdr {
    padding-top: 5px;
    padding-left: 30px;
    font-size: 15px;
    margin-bottom: 0px;
    color: #ecf0f1;
    border-bottom: 1px solid #34495e;
}

.sidebar a {
    display: block;
    padding-top: 7px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    transition: background-color 0.3s;
}

.sidebar a.sub {
    display: block;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 11px;
    color: white;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #34495e;
}

/* Main Content Area */
.content {
    margin-left: 25%; /* Adjust content margin to align with the sidebar */
    padding: 20px;
    background-color: #f4f4f4;
    height: calc(100vh - 70px); /* Ensure content area adjusts with the header */
    overflow-y: auto;
    flex-grow: 1;
}

.indented-list {
    padding-left: 30px; /* Indent the whole list */
    padding-bottom: 15px;
}